@import "tailwindcss";

:root {
  --font-sans: 'Montserrat', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff ;
  }
}

body {
  color: #191919;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1{
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 3.125rem;
  color: #373737;
;
}